<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zxl.materialStorage.mapper.EsMapper">
    <resultMap id="ErStorageVo" type="com.zxl.materialStorage.model.vo.ErStorageVo">
        <result column="es_no" property="esNo"/>
        <result column="es_location" property="esLocation"/>
        <result column="es_typeName" property="esTypeName"/>
        <result column="es_storeroomNumber" property="esStoreroomNumber"/>
        <result column="es_outSpaceNumber" property="esOutSpaceNumber"/>
        <result column="es_introduce" property="esIntroduce"/>
        <result column="es_statusName" property="esStatusName"/>
        <result column="es_timeValue" property="esTimeValue"/>
        <result column="ts" property="esTs"/>
    </resultMap>
    <select id="selectAll" resultMap="ErStorageVo">
        select es_no,es_location,es_typeName,es_storeroomNumber,es_outSpaceNumber,es_introduce,es_statusName,es_timeValue,ts
        from er_storage
    </select>
</mapper>